SECRET_KEY=secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

DATABASE_URL_RENDER = dataset_url

PLACES_SERVICE_URL=http://places-api:8000/
REVIEW_SERVICE_URL=http://reviews-api:8000/
RECOMENDATION_SERVICE_URL=http://recommendation-api:8000/
ADMIN_SERVICE_URL=http://admin_module:8000/

FRONT_END_URL=http://localhost:3000