SECRET_KEY = SECRET_KEY

DATABASE_URL = DATABASE_URL
ALGORITHM = ALGORITHM
ACCESS_TOKEN_EXPIRE_MINUTES = 30

PLACES_SERVICE_URL = place_url
REVIEW_SERVICE_URL = review_url
RECOMENDATION_SERVICE_URL = recomendation_url 
ADMIN_SERVICE_URL = admin_url
FRONT_END_URL = frontend_url
