fastapi
beautifulsoup4
uvicorn[standard]
sqlalchemy
sqlalchemy-utils
psycopg2-binary
alembic
python-dotenv
python-multipart
httpx
email-validator
passlib[bcrypt]
python-jose[cryptography]
argon2-cffi
argon2-cffi-bindings
requests
ddgs